name: Deploy Vite React App to S3

on:
  push:
    branches:
      - master   # deploy only when main branch is updated

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # 3. Install dependencies
      - name: Install dependencies
        run: npm install

      # 4. Build Vite React app
      - name: Build Vite app
        run: npm run build

      # 5. Deploy to S3
      - name: Deploy to S3
        uses: aws-actions/s3-sync@v2
        with:
          source_dir: dist   # Vite builds into dist/
          bucket: ${{ secrets.AWS_S3_BUCKET }}
          delete: true
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_S3_BUCKET }}
      - name: Deploy static site to s3
        run: aws s3 sync s3://react-app-deployement --delete

